
.login_container{
    -fx-background-color: #eee;
}

.login_logo_container{
    -fx-background-color: #132A13;
    -fx-alignment: center;
}

.login_logo_container Text{
    -fx-font-size: 2em;
    -fx-fill: #fff;
}

.title_label{
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.login_form_container{
    -fx-font-weight: bold;
}

.input_field{
    -fx-background-color: #fff;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}

.login_form_container Button{
    -fx-background-color: #132A13;
    -fx-text-fill: #fff;
    -fx-pref-height: 30;
    -fx-font-size: 1.2em;
    -fx-pref-width: 350;
}

.login_form_container Button:hover{
    -fx-cursor: hand;
}

